body {
    height: 100vh;
    width: 100vw;
}

.feature {
    font-size: 4rem;
}

.navbar-brand {
    font-size: 2rem !important;
    color: white !important;
}

.login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.alert {
    z-index: 100;
}