body {
    height: 100vh;
    width: 100vw;
}

.feature {
    font-size: 4rem;
}

.navbar-brand {
    font-size: 2rem !important;
    color: white !important;
}

.login {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.alert {
    z-index: 100;
}

.locations {
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: start;
    align-items: center;
}

.location-btn {
    background: #009988;
}

.header {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    margin: 2rem;
}