{% extends 'base.html' %}

{% block title %}Add Load Data{% endblock %}

{% block content %}

<div class="container login">
    <form method="POST">
        <h1>Add Load Data Below...</h1>
        {{ form.hidden_tag() }}

        {% for field in form
           if field.widget.input_type != 'hidden' %}

        <p class="form-group">
            {{ field.label }}
            {{ field (class_="form-control")}}

            {% for error in field.errors %}
            {{ error (class_="form-text text-muted")}}
            {% endfor %}
        </p>

        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}