{% extends 'base.html' %}

{% block title %}Your Loads {% endblock %}

{% block content %}

<div class="fluid-container locations">
    <h1>Your Loads...</h1>
    <div class="header">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addDcModal">
            Add A Load
        </button>
    </div>
    <table class="table tabke-light">
        <thead>
            <tr>
                <th scope="col" class="text-white">P.O. #</th>
                <th scope="col" class="text-white">Load Name</th>
                <th scope="col" class="text-white">Current Location</th>
                <th scope="col" class="text-white">Miles Out</th>
                <th scope="col" class="text-white">Required Date</th>
                <th scope="col" class="text-white">Day Due</th>
                <th scope="col" class="text-white">Temp</th>
                <th scope="col" class="text-white">Team</th>
                <th scope="col" class="text-white">Update Location</th>
                <th scope="col" class="text-white">Load Data</th>
            </tr>
        </thead>
        <tbody>
            {% for load in loads|sort(attribute='due_date,miles') %}
            <tr>
                <td class="text-white">{{load.po}}</td>
                <td class="text-white">{{load.name}}</td>
                <td class="text-white">{{load.pickup_city}}, {{load.pickup_state}}</td>
                <td class="text-white">{{load.miles}}</td>
                <td class="text-white">{{load.due_date}}</td>
                <td class="text-white">{{load.day_of_week}}</td>
                <td class="text-white">{{load.temp}}&deg;F</td>
                {% if load.team == 0 %}
                <td class="text-white">No</td>
                {% else %}
                <td class="text-white">Yes</td>
                {% endif %}
                <td class="text-white">
                    <a href="/update_location/{{load.id}}" class="btn btn-primary">Update</a>
                </td>
                <td class="text-white">
                    <a href="/add_data/{{load.id}}" class="btn btn-primary">Add/Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="addDcModal" tabindex="-1" role="dialog" aria-labelledby="addDcModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDcModalLabel">Add Your Load!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {{ form.hidden_tag() }}

                        {% for field in form
                           if field.widget.input_type != 'hidden' %}

                        <p class="form-group">
                            {{ field.label }}
                            {{ field (class_="form-control")}}

                            {% for error in field.errors %}
                            <span class="form-text text-danger m-0">
                                {{ error }}
                            </span>
                            {% endfor %}
                        </p>

                        {% endfor %}

                        <button type="submit" class="btn btn-primary location-btn">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}